.form{
    border: 1px solid rgba(48, 216, 73, 0.51);
    background: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(6px);
}

.input {
    @apply w-full py-[0.44rem] bg-transparent text-right border-r-0 border-b-[1px] border-[#e9e9e9];
}

.input:focus {
    background-color: transparent;
    /* outline: none; */
}

.input:focus-visible {
    outline: none;
}

.customCheckbox {
    appearance: none; /* Disable default styles */
    -webkit-appearance: none; /* For older versions of Safari */
    border: 1px solid red;
    border-radius: 0;
    width: 14px; /* Adjust the size as needed */
    height: 14px; /* Adjust the size as needed */
  }
  
  .customCheckbox:checked {
    background-color: rgb(48, 216, 73); /* Change the background color when checked */
  }