@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'node_modules/react-modal-video/scss/modal-video.scss'; */

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #1a1b1c !important;
  color: #e9e9e9;
}

.layout {
  @apply max-w-[20.5rem] sm:max-w-[71rem] mx-auto;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6,h7 {
  line-height: normal;
}

a {
  cursor: pointer;
}

ol {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style-position: inside;
}

/* .formsFullBg {
  height: 100%;
  background: url('https://s3-alpha-sig.figma.com/img/3f52/4615/fc9d530766c50f29ce94667a28b287a3?Expires=1698624000&Signature=mM8c9upSoCrGS9oeFPwOhbG2lXxibDlwtOpo693zGmKuSOlhaKp~sZjn3Reqoxpwv4ftcZlXPNtxtLIKL4M0UczITz3MoJ6qPcyfSKLai-y81EY0cSNqWJRP6Gpnd9x5LRhKku6wDordL2BE2~srq9pzgnZXT0G7r6EtejiUputoyZky7MexZE1QX~oa2oCJnMRRIuGPdYOJVrAwU9Sy3vUdFlXEUarwyy2p1KyHY~Ztc31Eycifz~b2plipjIUUqXHoBZVzVAyhnWt3-5rSasbvviZOlD721rVt7Rko5GqAdjbFp0vDCewNT6rk-TTz828jYyjn8SEK941N~1~O3g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/*React Carousel*/
.react-multiple-carousel__arrow {
  z-index: 1 !important;
}

.react-multiple-carousel__arrow::before {
  color: #D82121 !important;
  font-size: 40px !important;
}

.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right {
  background: none !important;
  bottom: -10px;
}

.react-multiple-carousel__arrow--left {
  left: 0 !important;
  /* bottom: 0; */
}

.react-multiple-carousel__arrow--right {
  right: auto !important;
  left: 10%;
  /* bottom: 0; */
}

.react-multiple-carousel__arrow--left::before {
  content: "\2190" !important;
}

.react-multiple-carousel__arrow--right::before {
  content: "\2192" !important;
}

.slider img {
  border-radius: 0 !important;
}

.react-multi-carousel-list {
  padding-top: 2rem !important;
  padding-bottom: 3rem !important;
  clip-path: polygon(0% 0%, 1000% 0%, 100% 100%, 80% 100%, 0% 100%);
  overflow: visible !important;
}

.slider {
  margin: 0 !important;
}

.react-multi-carousel-item {
  /* padding-right: 1.5rem; */
  /* width: 472px !important; */
  /* margin-left: 55px !important; */
}

.react-multi-carousel-track {
  /* margin-left: -91px !important; */
}

/*Slug pages styles*/
.text1 {
  @apply text-[1rem];
}

.text2{
  @apply text-[0.875rem] font-light md:text-[1rem];
}

.text3{
  @apply text-[0.875rem] font-semibold md:text-[1.125rem];
}

  /*Modal Styles*/
  .modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: .3s;
    animation-name: modal-video;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.modal-video-body {
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.main-content :first-child {
  margin-top: 0;
}

/* @media (orientation: landscape)
.modal-video-inner {
  padding: 10px 60px;
  box-sizing: border-box;
} */

.modal-video-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-video-movie-wrap {
  /* padding-bottom: 56.25%; */
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: .3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -ms-transition: -ms-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out; 
}

/* @media (orientation: landscape)
.modal-video-close-btn {
    top: 0;
    right: -45px;
} */

.modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: -45px;
    right: 0px;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: rgba(0,0,0,0);
}
.modal-video-close-btn:before, .modal-video-close-btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  border-radius: 5px;
  margin-top: -6px;
}
.modal-video-close-btn:before {
  transform: rotate(45deg);
}
.modal-video-close-btn:after {
  transform: rotate(-45deg);
}

.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes modal-video {
  0% {
    opacity: 0;
}

100% {
    opacity: 1;
}
}

/**/