@media (max-width: 472px) {
    .colGap {
        gap:0.25rem;
    }
}

.filmFont {
    font-size: 0.625rem;
    font-weight: 600;
}

.hasılatFont {
    font-size: 0.625rem;
    font-weight: 700;
}

.haftasonuFont {
    font-size: 0.5625rem;
    font-weight: 700;
}

.hsNumberFont {
    font-size: 0.75rem;
    font-weight: 500;
}

